body {
  background-color: lightblue;
}

h1 {
  color: red;
  font-size: 30px;
  margin-left: 20px;
}

label{
	color: darkblue;
	 font-size: 15px;
	 font-family: Arial Black;
}

button{
font-size: 20px;
}

p{
	  font-size: 15px;
	  font-family: Verdana;
}

.border{
	  border: 5px solid red;
  
}

i{

  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Helvetica;

}