body {
  background-color: lightblue;
}

h1 {
  color: red;
  font-size: 30px;
  margin-left: 20px;
}

label{
	color: darkblue;
	 font-size: 15px;
	 font-family: Arial Black;
}

button{
	font-size: 20px;
}

p{
	font-size: 15px;
	 font-family: Verdana;
}

i{

	 background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Helvetica;

}